.nav{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.logo{
    cursor: pointer;
    width: 50px
}

.link-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.link{
    cursor:pointer;
    font-size: 20px;
}

.bordered{
    padding: 0px 10px;
    border: solid;
    border-radius: 20px;
}