.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #4C0000;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    cursor: pointer;
    width: 50px;
    transition-duration: 1s;
    border-radius: 25px;
    /* padding: 2px; */
}

.link-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
}

.link{
    margin: 0;
    cursor:pointer;
    font-size: 20px;
    border-bottom: solid #4C0000;
    transition-duration: 0.5s;
    color: white;
}

.bordered{
    padding: 0px 10px;
    border: solid;
    border-radius: 20px;
}

.link:hover{
    border-bottom: solid white;
}

.bordered:hover{
    background: white;
    color: #4C0000;
    border: solid white
}

@media (max-width: 391px){
    .nav{
        border-radius: 0px 0px 25px 25px;
        /* position: fixed; */
    }
}