<footer class="footer-wrapper">
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <div (click)="onActivate()" class="footer-logo">
            <img class="footer-img" id="logo" src="../../assets/images/logo.png">
            <img class="footer-img" src="../../assets/images/logo-RSCI.svg">
        </div>
        <p class="copy">&copy; 2022 RSCI  |  Alguns Direitos Reservados </p>
    </div>
    <div class="footer-body">
        <div class="footer-block">
            <div class="footer-contacts">
                <h1 class="title">CONTATO</h1>
                <p class="footer-text">+55 79 99637-4295</p>
                <a href="mailto:contato@clebertonpaixao.com.br?subject=Olá" target="_self">
                    <p class="footer-text">rsincorporacoes@gmail.com</p>
                </a>
            </div>
            <div class="footer-address">
                <p class="footer-text">Povoado Lagoa Redonda - S/N</p>
                <p class="footer-text">Pirambu - SE</p>
            </div>
            <div class="footer-icons">
                <a href="https://www.instagram.com/rsincorporacoes/" target="_blank">
                    <img style="cursor:pointer" src="../../assets/images/instagram.svg">
                </a>
                <a href="#top">
                    <img style="cursor:pointer" src="../../assets/images/facebook.svg">
                </a>
                <a href="#top">
                    <img style="cursor:pointer" src="../../assets/images/youtube.svg">
                </a>
            </div>
        </div>
        <div class="footer-block">
            <div class="footer-info">
                <h1 class="title"> INFORMAÇÕES</h1>
                <p class="link" routerLink="/sobre">Sobre nós</p>
                <p class="link" routerLink="/projetos">Projetos</p>
                <p class="link" routerLink="/contacts">Contatos</p>
                <p class="link" routerLink="/politica-de-cookies">Política de Cookies</p>
                <p class="link" routerLink="/politica-de-privacidade">Política de Privacidade</p>
            </div>
        </div>
    </div>
</footer>