<section class="footer">
    <div><img class="logo-img" src="assets/images/logo-footer.svg"><p class="logo-txt">RSCI</p></div>

    <section class="contato">
        <div class="">
            <h3>CONTATO</h3>
        </div>
        <div>
            <p>+55 79 99637-4295</p>
            <p>rsincorporacoes@gmail.com</p>
            <hr>
            <p>Povoado Lagoa Redonda - S/N</p>
            <p>Pirambu - SE</p>
            <hr>
        </div>
        <div class="social-media">
            <a href="#"><img src="assets/images/instagram.svg"></a>
            <a href="#"><img src="assets/images/facebook.svg"></a>
            <a href="#"><img src="assets/images/youtube.svg"></a>
        </div>
    </section>
    
    <section class="informacoes">
        <div>
            <h3>INFORMAÇÕES</h3>
        </div>
        <div>
            <p>Sobre nós</p>
            <p>Projetos</p>
            <p>Contato</p>
            <p>Política de Cookies</p>
            <p>Política de Privacidade</p>
        </div>
    </section>
</section>