<div id="footer_content">
    <div class="left box">
        <img src="assets/logo-footer.svg">
        <img src="assets/logo-RSCI.svg" alt="">
    </div>
    <ul class="center box">
        <li class="content">
            <h4>Contato</h4>
        </li>
        <li>
            <p>+55 79 99637-4295</p>
        </li>
        <li>
            <p>rsincorporacoes@gmail.com</p>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <p>Povoado Lagoa Redonda - S/N</p>
        </li>
        <li>
            <p>Pirambu - SE</p>
        </li>
    </ul>
    <ul class="right box">
        <li class="content">
            <h4>INFORMAÇÕES</h4>
        </li>
        <li>
            <a href="#">Sobre nós</a>
        </li>
        <li>
            <a href="#">Projetos</a>
        </li>
        <li>
            <a href="#">Contato</a>
        </li>
        <li>
            <a href="">Política de Cookies</a>
        </li>
        <li>
            <a href="#">Política de Privacidade</a>
        </li>
    </ul>
</div>
