<section class="section-wrapper">
    <h1 class="section-title">
        Nossa História.
    </h1>
    <div class="section-body">
        <p class="section-text">
            A <span style="font-family: 'Poppins-Bold';"> RS Construtora e Incorporações LTDA</span>, surgiu no início de 2016, na sergipana Pirambu, considerado uma cidade de paisagens naturais e banhada pela junção entre o rio e o mar.<br><br>Em seu DNA a RS, já traz em suas origens a necessidade de integra as famílias com a natureza, com empreendimentos que possam aproveitar o potencial natural da região.
        </p>
    </div>
</section>