<section class="section-wrapper">
    <div class="section-body">
        <p class="section-title">
            Sobre nós.
        </p>
        <p class="section-text">
            É buscando um novo “jeito de viver junto a natureza”, que a RSCI já está desenvolvendo mais um projeto em Pirambu - Loteamento Mangabeira, e vem desenvolvendo estudos de viabilidade em mais 3 cidades de Sergipe.
        </p>
        <button routerLink="/sobre" class="section-button">Saiba mais</button>
    </div>
    <img class="container">
</section>