<section class="section-wrapper">
    <div class="section-text">
        <h1 class="section-title">
            Nossos projetos.
        </h1>
        <div routerLink="/projetos" class="hover-box">
            <p class="link" >ver todos ></p>
        </div>
    </div>
    <div class="section-img-wrapper">
        <div class="container bottom-left-border">
            <img routerLink="/projetos" class="section-img" src="../../assets/images/Rectangle 64.png">
        </div>
        <div class="container center">
            <img routerLink="/projetos" class="section-img center-img" src="../../assets/images/Rectangle 65.png">
        </div>
        <div class="container top-right-border">
            <img routerLink="/projetos" class="section-img" src="../../assets/images/Rectangle 66.png">
        </div>
    </div>
</section>
