<section class="section-wrapper">
    <div class="section-text">
        <h1 class="section-title">
            Nossos projetos.
        </h1>
        <p routerLink="/projects" class="link" >ver todos ></p>
    </div>
    <div class="section-img-wrapper">
        <img routerLink="/projects" class="section-img bottom-left-border" src="../../assets/images/Rectangle 64.png">
        <img routerLink="/projects" class="section-img" src="../../assets/images/Rectangle 65.png">
        <img routerLink="/projects" class="section-img top-right-border" src="../../assets/images/Rectangle 66.png">
    </div>
</section>
