.section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

.section::-webkit-scrollbar {
    width: 1px;
}

.section::-webkit-scrollbar-thumb{
    background-color: #4c0000;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.section-wrapper::-webkit-scrollbar-track {
    background: #ffffff;
  }

.icon {
    cursor: pointer;
    position: relative;
    visibility: hidden;
}

.icon:hover {
    background-color: #f7f7f7e0;
    z-index: 2;
    position: relative;
    visibility: visible;
}