<section class="section-wrapper">
    <h1 style="width: 1050px; font-size: 40px; margin-top: 0;font-family: 'Poppins-Bold';">Nossos Lotes</h1>
    <app-more-info style="margin-bottom:50px; "></app-more-info>
    <div style="width: 75%; border-bottom: solid 2px #4d4d4d;"></div>
    <h1 style="width: 1050px; font-size: 32px;">Outros Lotes <span style="color: #000000; font-size: 12px;"> Clique nos lotes para ver mais detalhes</span></h1>
    <app-projects-carousel class="section" style="width:1050px; overflow-x:scroll;"></app-projects-carousel>
</section>