<div class="section-wrapper">
    <h1 class="section-title">
        Qualidade de vida.
    </h1>
    <div class="section-body">
        <div class="section-img"></div>
        <div class="advantages-wrapper">
            <div class="advantages-body">
                <img class="advantages-img" src="../../../assets/images/envira.svg">
                <div class="advantages-text">
                    <h1 class="advantages-title">Meio ambiente</h1>
                    <p>Se conecte com o meio ambiente e viva em harmonia com as árvores e os cantos dos pássaros.</p>
                </div>
            </div>
            <div class="advantages-body">
                <img class="advantages-img" src="../../../assets/images/cloud-sun.svg">
                <div class="advantages-text">
                    <h1 class="advantages-title">Ar livre</h1>
                    <p>Viva em um lar que você possa inspirar e expirar ar puro, longe de qualquer sinal de poluição.</p>
                </div>
            </div>
            <div class="advantages-body">
                <img class="advantages-img" src="../../../assets/images/guitar.svg">
                <div class="advantages-text">
                    <h1 class="advantages-title">Lazer e diversão</h1>
                    <p>Nada melhor que um ambiente tranquilo e aconchegante para a criançada poder crescer feliz e cheia de gás.</p>
                </div>
            </div>
        </div>
    </div>
</div>
