.section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-img{
    width: 450px;
    height: 450px;
    border-radius: 30px;
    background-image: url(../../assets/images/171271.jpg);
    background-size: cover;
    background-position: center;
}

.section-title{
    font-size: 40px;
    justify-self: flex-start;
    font-family: 'Poppins-Bold';
    margin-left: 200px;
    width: 100%;
}

.section-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;

}

.section-text{
    text-align: left;
    font-size: 20px;
    width: 410px;
    font-family: 'Roboto-Regular';
    margin-left: 100px;
    text-align: justify;
}