<section class="box-rc-and-box-SI">
    <h1>Sobre Nós</h1>
    
    <div class="box-rc">
        <p class="RC">R<br>C</p>
    </div>
    
    <div class="box-SI">
        <p class="SI">S<br>I</p>
        <p class="text-up">A RS Construtora e Incorporações LTDA, surgiu no início de 2016, na sergipana Pirambu, considerado uma cidade de paisagens naturais e banhada pela junção entre o e o mar.
        <p class="text-up">Em seu DNA a RS, já traz em suas origens a necessidade de integra as famílias com a natureza, com empreendimentos que possam aproveitar o potencial natural da região.</p>
    </div>
</section>

<section>
    <div class="box-down">
        <img class="about-image" src="assets/images/people.svg">
        <p class="text-down">É buscando um novo “jeito de viver junto a natureza”, que a RSCI já está desenvolvendo mais um projeto em Pirambu - Loteamento Mangabeira, e vem desenvolvendo estudos de viabilidade em mais 3 cidades de Sergipe.</p>
    </div>
    
    <p class="text-RSCI">RSCI</p>
</section>