h2 {
    padding: 0px 0px 8px 380px;
    font-size: 29px;
}
.box-rc {
    box-sizing: border-box;
    border: 4px solid #800000;
    height: 500px;
    margin: 0px 1079px 104px -5px;
}
.RC {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 205px;
    margin: 0px;
    padding: 145px 370px 0px 417px;
    line-height: 7px;
    color: #4C000052;
}
.box-SI {
    box-sizing: border-box;
    border-radius: 9px;
    background-color: #4C0000;
    margin: -576px -5px 162px 492px;
    padding-top: 0px;
}
.SI {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 205px;
    margin: 0px;
    padding: 126px 1440px 32px 85px;
    line-height: 0px;
    color:#7B2020A1;
}
.text-up {
    font-family: 'Roboto-Regular';
    color:#F7F7F7;
    font-size: 26px;
    text-align: left;
    margin: -232px 363px 165px 309px;
    padding-bottom: 100px;
}
.box-down {
    box-sizing: border-box;
    border-radius: 9px;
    background-color: #4C0000;
    margin: -81px 1099px 103px -13px;
    padding: 297px 0px 0px 0px;
}
.about-image {
    display: flex;
    width: 9%;
    padding-left: 57px;
    margin-top: -189px;
}
.text-down {
    font-family: 'Roboto-Regular';
    font-size: 24px;
    color:#F7F7F7;
    margin: -103px 96px 0px 0px;
    padding: 0px 0px 0px 181px;
}
.text-RSCI {
    display: flex;
    font-size: 221px;
    color:#4C000052;
    margin: -417px 0px 86px 0px;
    padding: 0px 0px 0px 816px;
}