<section class="section-wrapper">
    <div class="section-text">
        <h1 class="section-title">
            Nossos projetos.
        </h1>
        <div routerLink="/projetos" class="hover-box">
            <div class="see-all">
                <p class="link">Entre em contato</p>
                <img width="20" src="../../assets/images/next.svg">
            </div>
        </div>
    </div>
    <div routerLink="projetos" class="section-img-wrapper">
        <div class="container bottom-left-border">
            <div class="project-label">
                <p>{{ projects[centerImg - 1].name }}</p>
                <p>{{ projects[centerImg - 1].address }}</p>
            </div>
            <img class="section-img" [src]="projects[centerImg - 1].img">
        </div>
        <div class="container center">
            <div class="project-label">
                <p>{{ projects[centerImg].name }}</p>
                <p>{{ projects[centerImg].address }}</p>
            </div>
            <img routerLink="projetos" class="section-img" [src]="projects[centerImg].img">
        </div>
        <div class="container top-right-border" style="margin-right: 0px;" >
            <div class="project-label">
                <p>{{ projects[centerImg + 1].name }}</p>
                <p>{{ projects[centerImg + 1].address }}</p>
            </div>
            <img class="section-img" [src]="projects[centerImg + 1].img">
        </div>
    </div>
</section>
