<section style="display: flex; justify-content: space-between; width: 1050px;">
    <img class="more-info-img" [src]="projects[id - 1].img">
    <div class="desc-box">
            <h1 style="font-size: 32px;">
                {{ projects[id - 1].name }}
            </h1>
            <div>
                <img width="12px" src="../../assets/images/pin.svg">
                <span style="color: #000000; font-size: 18px;">
                    {{ projects[id - 1].address }}
                </span>
            </div>
            <p style="color: #000000; font-family: 'Roboto-Regular'; text-align: justify; font-size: 16px;">
                {{ projects[id - 1].desc }}
            </p>
            <p style="color: #000000; font-size: 16px;">a partir de <span style="font-size: 24px;"> {{ 'R$'+ formatString(projects[id - 1].price) }} </span></p>
            <button routerLink="/sobre" class="desc-button">Entrar em contato</button>
        </div>
</section>